:root {
    --primary-color: rgb(0, 0, 0);
    --secondary-color: rgb(216, 81, 81);
    --lightgray-color: #CCCCCC;
    --green-color: #8D8D8D;
    
    --text-fontStyle_1: none;
    --text-fontStyle_2: none;
    --text-fontSize-: 24px;
    --text-fontSize: 24px;
}



